
ion-content{

    --ion-background-color:#dda3ff!important;
  }
  
  .colores
  {
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 220px;
  }
  
  
  ion-button{
    width: 35vh;
    height: 25vh;
  }
  
  ion-img{
    width: 35vh;
    height: 25vh;
  }
  
  
  /*SELECTOR*/
  
  ion-fab-button {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
  }