ion-content
{
    --ion-background-color: linear-gradient(120deg,#86c3ff, rgb(226, 160, 252), rgb(255, 253, 163))!important;
    color: black;
    font-weight: bold;
}


img{
    box-shadow: 0 10px 30px 0 rgb(70, 57, 255);
}