<app-menu></app-menu>
<ion-content>

  <div class="ion-padding">
    <ion-card style="background-color:#ffffff; border-color: black; border-radius: 3px; border-color: black;">
      <ion-card-header   style="background-color:#ffffff; font-weight: bold;color: black; " class="text-center">
        Gráfico cosas feas
      </ion-card-header>
      <ion-card-content  style="background-color:#ffffff; ">
        <canvas #barCanvas style="position: relative; height:20vh; width:40vw; color: black; font-weight: bold;"></canvas>
      </ion-card-content>
    </ion-card>
    <br>
    <div class="text-center">

      <img src="{{selectedNiceImage}}" />
    </div>
   
  </div>

</ion-content>