<app-menu></app-menu>
<ion-content>
  <div class="ion-padding">

   <ion-card style=" border-color: black; border-radius: 3px; border-color: black; background-color:#ffffff;">
      <ion-card-header style="background-color:#ffffff; color: black; font-weight: bold" class="text-center">
        Gráfico cosas lindas
      </ion-card-header>
      <ion-card-content style="background-color:#ffffff;">
        <canvas #doughnutCanvas style="position: relative; height:20vh; color: black; font-weight: bold; width:40vw; background-color:#ffffff;"></canvas>  
        
      </ion-card-content>
    </ion-card>
    <br>
    <div class="text-center">

      <img src="{{selectedNiceImage}}" />
    </div>

  </div>
</ion-content>